# Environments
venv/
__pycache__/

# Large Data Files (GitHub rejects files over 100MB)
data/raw/
data/processed/

# System Files & Notebook Autosaves
.DS_Store
.ipynb_checkpoints/
*/.ipynb_checkpoints/